.head{
    height: 146px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    background: url("../../assets/pattern-circles.svg") no-repeat center;
    color: var(--dark-desaturated-blue);
    
    div{
        display: flex;
        color: var(--grayish-blue);
    }

}

@media (max-width: 590px) {
    .head{
        white-space: nowrap;
        
        div{
            display: block;
        }
    }
}

@media (max-width: 375px){
    .head{
        h2{
            white-space: nowrap;
        }
    }
}